/* CSS for my website and portfolio */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html {font-size: 62.5%;}
::selection {background: #f3ccc9;}
::-moz-selection {background: #f3ccc9;}
.clearfix {clear: both;}
.content {max-width: 74rem; margin: auto; font-family: 'Neuton', serif; padding: 3rem; padding-top: 2.5rem; font-size: 2.8rem; line-height: 3.6rem; font-weight: 400;}
.headline {background: #453135; color: #ffffff; padding: 4rem 3rem; box-shadow: 0 0.5rem #d9554c, 0 0.7rem #7f2a4d, 0 0 #260c1a, 0 0 #63474d, 0 0 #cf4d6f;}
.headline h1 {font-family: 'Montserrat', sans-serif; max-width: 68.5rem; margin: auto; font-size: 6.4rem; line-height: 8rem; font-weight: 700;}
.message figure {margin: 0; position: relative; float: left;}
.message figcaption {display: none; font-family: 'Montserrat', sans-serif; font-weight: 400; sans-serif; position: absolute; font-size: 1rem; bottom: 1rem; left: 0.8rem;}
.message img {border: 3px solid #453135; width: 24rem; margin: 0.8rem 3rem 1.5rem 0;}
.message a {transition: border 0.2s ease-in-out; color: #222222; border-bottom: 0.5rem solid #f3ccc9; text-decoration: none;}
.message a:hover {border-bottom: 0.5rem solid #d9554c; color: #222222;}
.choices ul {list-style: none; padding: 0;}
.choices li {display: inline-block;}
.button {border: 1px solid #d7d5d5; border-bottom: none; position: relative; text-decoration: none; margin: 0 1.5rem 1.8rem 0; padding: 1.2rem 2rem; float: left; background: #efeded; color: #222222; box-shadow: 0 0.4rem #d7d5d5;}
.button:hover {border: 1px solid #c34c44; border-bottom: none; background: #d9554c; color: #ffffff; box-shadow: 0 0.4rem #973b35, 0 0.6rem 0.2rem -0.2rem #595959;}
.button:active {background: #c34c44; color: #ffffff; top: 0.4rem; box-shadow: none;}
.button i {margin-right: 1.5rem; min-width: 3rem;}
.breadcrumbs {font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 1.4rem; max-width: 68rem; margin: auto; color: #595959; padding-bottom: 2rem;}
.breadcrumbs a {color: #595959;}
.breadcrumbs i {padding: 0 0.9rem 0 1.1rem;}
.contact-info {list-style-type: none; padding: 0;}
.contact-info li {margin-bottom: 1.5rem;}
.contact-info i {width: 7rem; text-align: center; vertical-align: middle; margin-left: -2rem;}

@media (max-width: 35.5em) {
html {font-size: 58.5%;}
.content {padding-top: 2rem;}
.choices li {display: block; overflow: auto;}
.choices a {display: block; width: 100%; margin-bottom: 2rem;}
.headline {padding: 2rem 3rem 1.8rem 3rem;}
.headline h1 {font-size: 4.8rem;}
.message figure {float: none;}
.message figcaption {bottom: 0; left: 1rem;}
.message img {width: 100%; margin: 2rem 0 0 0;}
}