/* CSS for Michael Edelstone on GitHub */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
::selection {background: #F0BBB7;}
::-moz-selection {background: #F0BBB7;}
.wrapper {max-width: 44rem; margin: auto; font-family: 'Neuton', serif; padding: 2rem; padding-top: 1.5rem; font-size: 1.8rem; line-height: 2.2rem; font-weight: 400;}
.intro {background: #7F2A4D; color: #FFFFFF; padding: 2.5rem 2rem; box-shadow: 0 .2rem #D9554C, 0 .4rem #CF4D6F, 0 .5rem #63474D, 0 0 #260C1A;}
h1 {font-family: 'Montserrat', sans-serif; max-width: 40rem; margin: auto; font-size: 4rem;}
img {border-radius: 0; max-width: 15rem; float: left; margin: .5rem 2rem 1rem 0;}
.clearfix {clear: both;}
a {color: #222;}
.elsewhere ul {list-style: none; padding: 0; overflow: auto;}
.elsewhere li {overflow: auto; display: inline-block;}
.elsewhere a {position: relative; text-decoration: none; margin: 0 1rem 1rem 0; padding: 1rem; float: left; background: #EFEDED;}
.elsewhere a:hover {background: #7F2A4D; color: #FFFFFF;}
.elsewhere i {margin-right: 1rem;}

@media (max-width: 32rem) {
.elsewhere a {display: block; width: 100%;}
.elsewhere li {display: block;}
.wrapper {padding-top: .4rem;}
.intro {padding: 1.5rem 2rem;}
h1 {font-size: 3rem;}
img {float: none; max-width: 100%; margin: 2rem 2rem 0rem 0;}
}