---
---

@import "{{ site.theme }}";

.container-lg {
  max-width: 50rem;
  margin-bottom: 5rem !important;
}

.markdown-body h1 {
  border: none;
  margin-bottom: 2rem;
}

h1:first-child {
  display: none;
}
