---
---

@import "{{ site.theme }}";

.container-lg {
  max-width: 60rem;
  margin-bottom: 5rem !important;
  font-size: 175%;
}

.markdown-body h1 {
  display: none;
}

.markdown-body h2 {
  margin-top: 3rem;
  border-bottom: none;

  #hi-there- {
    margin-top: 2rem;
  }
}

.markdown-body a {
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}
